<!doctype html>
<html>
  <head>
    <title>About <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=shopData.shopName%></h1>

    <section>
    <div class="nav">
    <a class="navbutton" href="/">Home</a>
    <a class="navbutton" href="/about">About <%= shopData.shopName %></a>
    <a class="navbutton" href="/users/login">Login</a>
    <a class="navbutton" href="/users/register">Become a member!</a>
    <a class="navbutton" href="/equipment/list">View Equipment</a>
    <a class="navbutton" href="/equipment/search">Search Bookings</a>
    <a class="navbutton" href="/equipment/book">Book Equipment</a>
    <a class="navbutton" href="/logout">LogOut</a>
    </div>
    </section>
    
    <p>At Fitness4You, we’re committed to keeping our community healthy, active, and confident by providing a welcoming space where everyone can work toward their personal fitness goals. 
      Through expert guidance, modern equipment, and motivating group classes, we aim to make wellness accessible and enjoyable for all ages and experience levels.
      Our mission is to support healthier lifestyles, build strength inside and out, and create a supportive community where every member feels empowered to succeed.</p>
  </body>
</html>