<!DOCTYPE html>
<html>
  <head>
    <title>Current equipment at <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />

  </body>
    <h1>Current Equipment at <%= shopData.shopName %></h1>
    
    <section>
    <div class="nav">
    <a class="navbutton" href="/">Home</a>
    <a class="navbutton" href="/about">About <%= shopData.shopName %></a>
    <a class="navbutton" href="/users/login">Login</a>
    <a class="navbutton" href="/users/register">Become a member!</a>
    <a class="navbutton" href="/equipment/list">View Equipment</a>
    <a class="navbutton" href="/equipment/search">Search Bookings</a>
    <a class="navbutton" href="/equipment/book">Book Equipment</a>
    <a class="navbutton" href="/logout">LogOut</a>
    </div>
    </section>
    
    <ul>
      <% availableEquipment.forEach(function(equipment) { %>
        <li><%= equipment.name %></li>
      <% }); %>

    </ul>
  </head>
</html>