<!doctype html>
<html>
  <head>
    <title>Welcome to <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>

  <body>

    <h1>Welcome to <%= shopData.shopName %></h1>

    <section>
    <div class="nav">
    <a class="navbutton" href="/">Home</a>
    <a class="navbutton" href="/about">About <%= shopData.shopName %></a>
    <a class="navbutton" href="/users/login">Login</a>
    <a class="navbutton" href="/users/register">Become a member!</a>
    <a class="navbutton" href="/equipment/list">View Equipment</a>
    <a class="navbutton" href="/equipment">Book Equipment</a>
    <a class="navbutton" href="/logout">LogOut</a>
    </div>
    </section>

  </body>
</html>
