/* ::backdrop {
    background-color: rgba(0, 194, 201, 0.8);
} */

body {
    background-color: #1f6c69;
    margin: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

p,li {
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: rgb(83, 215, 251);
    text-decoration: none;
    padding:5px;
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding:5px;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(32, 103, 89);
    padding:5px;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
    padding:5px;
  }
