
/* body styles */
body {
    background-color: #1f6c69;
    margin: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* heading styles */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
}

/* subheading styles */
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
    padding: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}

/* paragraph and list item style */
p,li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px;
}

/* unvisited link */
a:link {
    color: rgb(32, 103, 89);
    text-decoration: none;
    padding:5px;
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding:5px;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(32, 103, 89);
    padding:5px;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
    padding:5px;
  }

/* navigation button styles */
.navbutton {
    background-color: rgb(92, 197, 176);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

